
.vs/
.vs2019/
.vs2017/
.idea/

*.user
*.userosscache
*.suo
*.userprefs

.idea/

bin/
obj/
node_modules/

project.lock.json
project.fragment.lock.json
artifacts/

*.log
*.tlog

*.db

.DS_Store

Thumbs.db

.vscode/

packages/
